body {
    background-color: rgb(74, 203, 221);
    font-family: Arial, sans-serif;
    color: beige;
    margin: 0;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: beige;
}

h4 {
    text-align: center;
    color: rgb(90, 111, 171);
    font-weight: normal;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    color: navy;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    border-radius: 10px;
}
