body {
    background-color: rgb(43, 96, 104);
    font-family: sans-serif, sans-serif;
    color: beige;
    margin: 0;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: beige(84, 84, 54);
}

h4 {
    text-align: center;
    color: bisque(37, 65, 67);
    font-weight: lighter;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; /* centers horizontally */
}
